header.sticky-top.bg-grey-800
    .d-flex.justify-content-between.align-items-center.py-2
        .d-flex.ms-3
            a(href='/')
                .d-flex.align-items-center
                    img.me-2(src='/images/logos/logo-bright.svg' alt='fundalytica logo' width="192" height="220")
                    p Fundalytica
        .d-flex.me-3.my-2
            //- a(href='mailto:contact@fundalytica.com')
            //-     .d-flex.align-items-center
            //-         i.me-2.fas.fa-paper-plane
            //-         p Contact
            //- a(href='https://blog.fundalytica.com' target="_blank").ms-3
            //-     .d-flex.align-items-center
            //-         i.me-2.fas.fa-pen
            //-         p Blog
            - var href = user ? '/logout' : '/login'
            - var cl = user ? '' : 'text-warning'
            - var name = (user && user.name) ? (' ' + user.name) : ''
            a(href=href).ms-3
                .d-flex.align-items-center(class=cl)
                    if(user)
                        i.me-2.fas.fa-door-open
                        p Logout
                            span= name
                    else
                        i.me-2.fas.fa-door-closed
                        p Login

    //- - var text = 'Join our community on Discord (100 spots left)'
    //- - var url = 'https://discord.gg/7yHcTcPZgk'
    //- p.p-1.text-center.bg-purple-300.text-white.small
    //-     a.text-white.text-decoration-underline(href=url target='blank')= text
    //-     i.fab.fa-discord.ps-2

    if(just_logged)
        - var text = (just_logged == 'in') ? 'Welcome to Fundalytica' : (just_logged == 'out') ? 'See you soon' : '?'
        - var faClass = (just_logged == 'in') ? 'fa-key' : 'fa-leaf'
        p.p-1.text-center.bg-light-blue-700.text-white.small= text
            i.fas.text-white.ps-2(class=faClass)