extends layout.pug

block style
    style.
        .topic { min-width: 300px; border-radius: 6px; }
        .topic img { width: auto; height: 30px; }

        #quotes { background: #666; }
        .quote a { color:inherit; text-decoration: none }
        .quote { font-weight: bold; padding: 2px; }
        .quote-red { color: #ff4d4d; }
        .quote-green { color: #00b300; }
        .quote-white { color: white; }
        .quote .name, .quote .symbol, .quote .price, .quote .change { padding: 6px; }

block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js')
    
    script.
        window.iex_token = "#{iex_token}"

    script(src='/javascripts/quotes.js' type='module')
    script(src='/javascripts/IEX.js')
    script(src='/javascripts/Utils.js')

block content
    section
        ul.list-unstyled.d-flex.flex-row.flex-wrap.flex-equal.p-1.text-center.text-nowrap.small#quotes

    section
        .d-md-flex.flex-md-row.flex-md-wrap.flex-md-equal.m-md-3

            .topic.m-3.asbestos-200
                .p-4
                    h2 Fundalytica
                    p.lead= description
                    #subscribe
                        if(subscribe)
                            .mb-3
                                p.lead.text-white= (subscribe == 'success') ? 'Thank you for subscribing to Fundalytica 🤝' : 'Please check your mail and confirm the subscription 👀'
                        else
                            p.font-weight-light.mb-2 Do not miss any updates. Join us!
                            .mb-3
                                form(action='https://sendy.fundalytica.com/subscribe' method='POST' accept-charset='utf-8')
                                    input.form-control(type='text' name='email' placeholder='Enter your email address')
                                    input(type='hidden' name='list' value='YeHtmGHSnDiXFSxu24X9dA')
                                    input(type='hidden' name='api_key' value='wCVlWNlmf3YBshY4ek8y')
                                    button.btn.btn-outline-light.mt-3.p-3(name='submit' type='submit') Subscribe Now

            each topic, index in topics
                .topic.m-3(class=topic.color)
                    .p-4
                        p
                            span.hashtag.text-white.bg-dark.rounded.small.p-1= topic.hashtag
                        img.mb-2(src='images/topics/' + topic.image)
                        h2= topic.title
                        p.lead= topic.description
                        - var href = (! topic.action) ? '#' : ((topic.action == 'route') ? topic.id : topic.action)
                        - var target = (topic.action == 'route') ? '_self' : '_blank'
                        - var button_class = (! topic.action) ? 'disabled' : ''
                        a.btn.btn-outline-light.text-nowrap.p-3(class=button_class href=href target=target)= topic.button
