extends layout.pug

//- block style
//-     style.
//-         //-

block scripts
    //- script( id='quotesjs' data-api-token=api_token src='/javascripts/quotes.js' type='module')
    script(id='indexjs' src='/javascripts/index.js' type='module')
    script( id='subscriptionjs' data-subscription=subscription data-subscribed-key=subscribed_key src='/javascripts/subscription.js' type='module')

block content
    //- section.bg-grey-700
    //-     ul.container.list-unstyled.d-flex.flex-row.flex-wrap.flex-equal.p-1.text-center.text-nowrap.small#quotes

    section.container-xl.p-0
        .flex-equal.d-md-flex.flex-md-row.flex-md-wrap.m-md-3

            if(! subscribed)
                .topic.m-3.bg-blue-grey-200#welcome
                    .p-4
                        h2 Fundalytica
                        p.lead#description= description

                        if(subscription)
                            .mb-3
                                if(subscription == 'success')
                                    p.lead.text-white= 'Thank you for subscribing to Fundalytica 🤝'
                                if(subscription == 'pending')
                                    p.lead.text-white#pending= 'Please check your mail and confirm the subscription 👀'
                        else
                            p.mb-2
                                span.fas.fa-envelope.pr-1
                                span#join-us
                            div
                                form(action='https://sendy.fundalytica.com/subscribe' method='POST' accept-charset='utf-8')
                                    input.form-control(type='text' name='email' placeholder='Enter your email address')
                                    input(type='hidden' name='list' value='YeHtmGHSnDiXFSxu24X9dA')
                                    input(type='hidden' name='api_key' value='wCVlWNlmf3YBshY4ek8y')
                                    input(type='text' name='hp').d-none
                                    button.btn.btn-outline-light.mt-3.p-3(name='submit' type='submit') Subscribe Now

            each topic, index in topics
                .topic.m-3(class=topic.color)
                    .p-4
                        p
                            span.hashtag.text-white.bg-dark.rounded.small.p-1= topic.hashtag
                        img.mb-2(src='images/topics/' + topic.image)
                        h2= topic.title
                        p.lead= topic.description
                        - var href = (! topic.action) ? '#' : ((topic.action == 'route') ? topic.id : topic.action)
                        - var target = (topic.action == 'route') ? '_self' : '_blank'
                        - var button_class = (! topic.action) ? 'disabled' : ''
                        a.btn.btn-outline-light.text-nowrap.p-3(class=button_class href=href target=target)= topic.button